<link rel="stylesheet" href="/css/home.css">
<div class="header">
    <h1>Bro what the MEAT doing?</h1>
    <p>Gotta get the schmeat quiz done.</p>
</div>
<div class="options">
    <a class="option" href="/quiz">Infinite Quiz</a>
    <a class="option" disabled="disabled">Mock Test</a>
</div>