<link rel="stylesheet" href="/css/quiz.css">

<h1>Quiz Page</h1>

<div class="corner">
    <p class="span-text">Right to Wrong Ratio: <span class="correct">0</span></p>
</div>

<div class="question">
    <image class="qimg"></image>
    <div class="answers">

    </div>
</div>

<script src="/js/answers.js"></script>
<script src="/js/quiz.js"></script>