<link rel="stylesheet" href="/css/quiz.css">

<h1>Quiz Page</h1>

<div class="question">
    <image class="qimg"></image>
    <div class="answers">

    </div>
</div>

<script src="/js/quiz.js"></script>