.header {
    text-align: center;
    height: 50vh;
}
.header > * {
    margin: auto;
}
.options {
    height: 50vh;
}
a {
    font-size: 200%;
    font-weight: bold;
    width: 100%;
    color: black;
}
a:hover {
    background-color: #00a6a6;
    color: white;
}